<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit Data</title>
  </head>
  <body>
    <h1>Submission Form</h1>
    <p>
      Want to change some location information or add a new location entry?
      Submit a form!
    </p>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./form">Form Submission</a></li>
      </ul>
    </nav>
    <form action="/locations" method="post">
      <%= %>
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname" /><br /><br />
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname" /><br /><br />
      <!-- <input type="submit" value="Submit" /> -->
    </form>
  </body>
</html>
